.secondary {
    background: var(--secondary-color);
    margin-bottom: 0;
}

.maxWidth {
    background: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
    .maxWidth {
      width: 100%;
    }
  }
  