* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #CC226A;
  --secondary-color: #E88E13;
  --bd-color-primary: #111222;
  --bd-color-secondary: #000000;
  --color-font: #333333;
}

body {
  background: var(--bd-color-primary);
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
}

.grid {
  display: grid;
}


@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-gap: 24px;
  }
}
